html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}

#root {
  padding: 0.25em;
  width: 500px;
  margin: auto;
  overflow-x: overlay;

  @media (max-width: 600px) {
    width: 100%;
  }
}
