html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  // background-color: #535355; // F4F4F2
  width: 100vw;
}

main {
  width: 500px;
  margin: auto;

  @media (max-width: 500px) {
    width: 100vw;
  }
}
